.product {

     width:20vw;
     height: 80vh;
     padding:7px;
     border-radius:7px;
     border: 3px solid rgb(211, 208, 189);
     border-radius: 7px;
     position: relative;
    
}
.product img{

    width:100%;
    border-radius: 8px;
    height: 35%;

}

.product-name {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size:1.5rem;
    line-height:25px;
    letter-spacing: 0.0015em;
    color: #0E171A;
    
}

.product p {
     
     margin: 2px 5px;

}

.cart-button{

     width:100%;
     background-color: red;
     color: white;
     position: absolute;
     bottom:0;
     border:none;
     height: 2rem;
     font-weight: bold;
     right:0;
     padding:0;
     margin:0;

}

.cart-button:hover {

     background-color: rgb(63, 44, 44);
     color: white;
}