.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#cf9a9a5b;
  padding: 0.5rem 2rem;
}
.nav-items {
      
      list-style: none;
      display: flex;
      gap: 0 1rem;
}

.nav-items li a {
      font-weight: bold;
      text-decoration: none;
      color:rgb(1, 23, 27);
}

.nav-items li a:hover {
      
      color: rgba(183, 41, 74, 0.386);
}